.score-row span {
    margin: auto;
    padding: 2px 5px;
    font-weight: bold;
}

.score-row .score-value {
    font-size: 1.5em;
}

.score-row .player-curr {
    border-bottom: 2px solid #006;
}

.score-row img {
    max-width: 48px;
    max-height: 48px;
}

.game-board {
    display: inline-block;
    border: 5px solid #999;
}

.board-row {
    margin: 0 !important;
    clear: both;
}

.game-feedback {
    font-size: 1.5em;
    font-weight: bold;
}

.actions-row button {
    min-width: 120px;
}

.actions-row .left-button {
    margin-right: 20px;
}